AUTH_SECRET='...'
AUTH_GOOGLE_ID='...'
AUTH_GOOGLE_SECRET='...'

DATABASE_URL='...'
AUTH_DRIZZLE_URL='...'

UPLOADTHING_TOKEN='...'

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

NEXT_PUBLIC_APP_URL='http://localhost:3000'
