@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
*::before,
*::after {
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid red;
} */

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: min(100% - 2rem, var(--max-width, 1440px));
	margin-inline: auto;
}

.container-sm {
	width: min(100% - 2rem, var(--max-width, 1080px));
	margin-inline: auto;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
	@apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	@apply bg-neutral-900/50 rounded-lg;
}

.custom-scrollbar::-webkit-scrollbar-button {
	display: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@theme {
	--animate-expand: expand 500ms ease-in-out;

	@keyframes expand {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}
